@media (min-width: 1200px) { .container { width: 992px; }
  body.down header.clone { top: 0; left: 0; right: 0; z-index: 999; width: 962px; left: 50%; margin-left: -481px; background-color: #e5e2e3; }
  header.clone { position: fixed; width: 962px; left: 50%; margin-left: -481px; top: -60px; transition: 0.2s top ease-in; } }
body { font-family: 'Roboto', sans-serif; background: #e5e2e3; }

.page header { background: url(../img/header-bg.png) no-repeat; background-position: top center; background-size: 100% 100%; padding-top: 5px; height: 95px; width: 100%; max-width: 962px; }
.page header ul { margin: 0 !important; }
.page header ul li { float: left; padding: 0 !important; }
.page header ul .call { width: 155px; margin-left: 5px; padding-top: 3px; margin-right: 20px; }
.page header ul .call img { float: left; }
.page header ul .call p { display: inline-block; font-weight: 700; font-style: italic; font-size: 16px; margin-bottom: 0; padding-top: 2px; text-align: right; }
.page header ul .call a { display: table; width: 138px; font-weight: 700; font-style: italic; font-size: 16px; margin: 0 auto; color: white; border-radius: 10px; background: #c84f2f; text-align: center; box-shadow: 0px 8px 7px 0px rgba(0, 0, 0, 0.09); }
.page header ul .call a:hover { text-decoration: none; }
.page header ul .cart { width: 155px; margin-left: 5px; padding-top: 3px; margin-right: 50px; }
.page header ul .cart img { float: left; margin-bottom: 7px; }
.page header ul .cart p { display: inline-block; font-weight: 700; font-style: italic; font-size: 16px; margin-bottom: 0; padding-top: 2px; text-align: right; width: 120px; }
.page header ul .cart p a { display: inline-block; width: 38px; font-weight: 700; font-style: italic; font-size: 16px; color: white; border-radius: 10px; background: #c84f2f; text-align: center; box-shadow: 0px 8px 7px 0px rgba(0, 0, 0, 0.22); }
.page header ul .cart p a:hover { text-decoration: none; }
.page header ul .cart p img { float: none; }
.page header ul .cart p span { text-align: left; width: 100%; display: block; font-weight: 300; margin-left: 15px; padding-top: 3px; font-style: italic; font-size: 20px; }
.page header ul .search { background: #efeeeb; width: 215px; padding: 5px !important; box-shadow: 0px 8px 7px 0px rgba(0, 0, 0, 0.09); }
.page header ul .search input { width: 150px; height: 30px; border: none; padding-left: 10px; line-height: 30px; margin-right: -3px; }
.page header ul .search button { background: #c84f2f; border: none; height: 30px; width: 30px; outline: none; margin: 0; padding: 0; }
.page header ul .logo { font-size: 35px; color: #3e2769; text-align: right; text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.45); }
.page section { margin: 0 !important; background: url(../img/section.jpg); background-size: cover; background-position: top center; padding: 20px 0; }
.page section .crumb { margin-bottom: 50px; }
.page section .crumb li { display: inline-block; position: relative; padding-right: 20px; }
.page section .crumb li:after { content: ""; background: url(../img/crumb.png); display: block; width: 10px; height: 13px; position: absolute; top: 3px; right: 0; }
.page section .crumb li.active { margin-left: 3px; padding-right: 0; }
.page section .crumb li.active a { text-decoration: underline; text-decoration-color: red; }
.page section .crumb li.active:after { display: none; }
.page section .crumb li a { font-size: 15px; color: #4b4b4a; font-weight: 700; }
.page section .contant { padding: 0 20px 0 0 !important; position: relative; }
.page section .contant .imgPos { position: absolute; top: -70px; width: 120px; right: -37px; z-index: 2; }
.page section .contant .txt { color: #504776; font-weight: 400; font-size: 15px; line-height: 25px; text-indent: 10px; }
.page section .contant h2 { color: #c48e4d; font-size: 25px; font-weight: 700; padding-left: 20px; margin: 30px 0; }
.page section .contant h3 { color: #504776; font-size: 20px; text-align: center; font-weight: 700; margin-bottom: 30px; }
.page section .contant .two { margin-bottom: 30px; }
.page section .contant .two li { width: 50%; float: left; text-align: center; }
.page section .contant .two li a { position: relative; display: block; }
.page section .contant .two li a:hover { text-decoration: none; }
.page section .contant .two li a:after { content: ""; background: url(../img/waterimg.png); width: 114px; height: 80px; position: absolute; bottom: 0; left: 50%; }
.page section .contant .two li p { color: #cc9349; font-size: 30px; font-weight: 700; text-decoration: none; }
.page section .contant .two li img { box-shadow: 0px 8px 7px 0px rgba(0, 0, 0, 0.16); border-radius: 50px; }
.page section .menucont { padding: 0 !important; }
.page section .menu { position: relative; top: -55px; background: #e3b55d; overflow: hidden; }
.page section .menu li { list-style: none; color: #fff; padding: 5px 10px; border-bottom: 2px solid #b7934b; }
.page section .menu li img { height: 35px; margin-right: 20px; }
.page section .menu li a { color: #fff; font-style: italic; font-size: 16px; }
.page section .menu li a:hover { text-decoration: none; }
.page section .menu .title { background: #efa94b; height: 40px; line-height: 40px; text-align: center; font-size: 18px; position: relative; margin: 20px 0; padding-left: 0; border-bottom: none; -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5); box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5); }
.page section .menu .title:after { content: ""; width: 90%; height: 1px; background: #fff; display: block; position: absolute; top: 50%; left: 5%; }
.page section .menu .title span { margin: 0 auto; background: #efa94b; position: relative; z-index: 2; padding: 0 10px; top: -5px; }
.page section .menu .title.mt0 { margin-top: 0; }
.page section .menu h4 { background: #f2ca91; margin: 0; padding: 5px; text-align: center; color: #3e2769; text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.45); }
.page .menuopen { display: none; }
.page footer { background: url(../img/footer-bg.png); padding-top: 75px; padding-bottom: 20px; }
.page footer .row { margin: 0 !important; }
.page footer .title { font-size: 17px; color: #eeeded; font-weight: 700; margin-bottom: 10px; padding-bottom: 5px; border-bottom: 1px solid #262131; }
.page footer li a { color: #eeeded; font-size: 16px; font-weight: 400; }
.page footer .phoneF { text-align: right; }
.page footer .phoneF p { display: inline-block; color: #eeeded; font-size: 16px; font-weight: 700; }
.page footer .phoneF a { display: inline-block; padding: 0 10px; font-weight: 700; font-style: italic; font-size: 16px; color: white; border-radius: 10px; background: #c84f2f; text-align: center; box-shadow: 0px 8px 7px 0px rgba(0, 0, 0, 0.09); }
.page footer .phoneF a:hover { text-decoration: none; }

@media screen and (max-width: 991px) { .page section .contant .imgPos { display: none; }
  .page section .menu { top: 0; }
  .page section .contant { padding-top: 30px !important; }
  .page footer { background-size: 100% 100%; }
  .menuopen { display: block !important; width: 100%; background: #e4b75e; height: 40px; line-height: 40px; font-size: 18px; color: #fff; text-align: center; }
  .menuopen:hover { text-decoration: none; color: #fff; }
  .page section { padding: 0 0 20px 0; }
  .page header { background: #eed196; height: auto; }
  .page header ul .logo { text-align: center; } }
@media screen and (max-width: 767px) { .page footer { background: #56437a; padding-top: 20px; }
  .container { padding: 0; }
  .page header ul .call { margin: 0  0 0 5px; }
  .page section .contant { padding: 20px 10px !important; }
  .page header ul .cart { float: right; margin: 0 5px 0 0; width: 140px; }
  .page header ul .cart p { width: 110px; }
  .page header ul .cart p span { margin-left: 5px; }
  .page header ul .search { margin: 10px 0 5px 0; width: 100%; }
  .page header ul .search input { width: calc(100% - 31px); }
  .page section .contant .two { margin-bottom: 0; }
  .page footer .phoneF { text-align: center; }
  .page section .contant .two li { width: 100%; margin-bottom: 30px; } }
