@media only screen and (max-width: 2800px) {
  .header-2nd-row-fix {
    width: 75% !important; }
  /**/ }

@media only screen and (max-width: 1600px) {
  .header-2nd-row-fix {
    width: 95% !important; }
  /**/ }

@media only screen and (max-width: 1450px) {
  .header-2nd-row-fix {
    width: 100% !important; }
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .cat-window {
    width: 160px;
    height: 160px; }
  .benefits__items {
    margin-right: 0;
    width: 50%; }
  .contact-form-container {
    padding: 40px 20%; }
  .ekb-adress-container {
    margin: 0; }
  .contact-form-container-ekb {
    padding: 40px 0% 40px 0px; }
  .write-to-service-btn {
    opacity: 0; }
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .menu_l_link {
    font-size: 11px; }
  .write-to-service-btn {
    opacity: 1; }
  .check-box-container ul {
    border: 1px solid #fff;
    margin-top: 25px;
    padding-top: 15px; }
  .select-block-devider {
    width: 100%;
    margin: 20px 0; }
  .last-car {
    display: none !important; }
  .benefits__items {
    width: 50%; }
  .about_us_l_block.desc_mod {
    margin-left: 0; }
  .m-page-repair {
    height: 520px; }
  .glass-brends-1 > .col-md-2 {
    width: 50%;
    float: left; }
  .glass-brends-2 > .col-md-2 {
    width: 50%;
    float: left; }
  .write-to-service-btn {
    float: none;
    position: static; }
  .find_closest_map_block {
    display: none; }
  .subs-block-item-right {
    margin-left: 0;
    margin-bottom: 25px; }
  .subs-block-item {
    border-left: 1px solid #d9d9d9;
    height: 115px; }
    .subs-block-item:before {
      display: none; }
  .subst-where-container img {
    position: initial;
    width: 90%; }
  .how-to-change {
    padding: 25px 0 30px 10px;
    margin-bottom: 15px; }
  .subst-where-btn-margin {
    margin-top: 9%; }
    .subst-where-btn-margin a {
      display: block; }
  .subst-where-change {
    padding: 35px 20px; }
  .bx-wrapper .bx-pager {
    display: none; }
  .subst-where-btn-margin-top {
    margin-top: 65px;
    margin-bottom: 65px; }
  .services-how-we-repair p {
    padding-top: 70px; }
  .services-how-we-replace p {
    padding-top: 70px; }
  .contacts-adress-container {
    text-align: center;
    width: 100%; }
    .contacts-adress-container table {
      margin: 0 auto; }
  .contacts-adress-container-col-6 {
    height: 100%; }
  .contact-form-container {
    padding: 40px 10%; }
  .contact-form-img {
    display: none; }
  #sidebar-btn {
    display: block; }
  #sidebar {
    display: inline-table;
    z-index: 9999;
    left: -320px;
    top: 3px;
    height: 2000px;
    border-right: 1px solid #ececec; }
  .adaptive-phone-number {
    display: inline-block; }
  .ekb-some-class {
    margin: 25px 0 0 0; }
  .contacts-adress-container-spb-fix {
    padding: 35px;
    /**/ } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .about_us_l_block.desc_mod {
    line-height: 1.4; }
  .cat-window {
    width: 150px; }
  .last-car-tablet {
    display: none !important; }
  .benefits__items {
    width: 50%; }
  .rdy-help {
    height: 250px; }
  .rdy-help-text {
    line-height: 1.4; }
  .subst-seo-block {
    padding: 40px 30px; }
  .services-link-float-right {
    margin-top: 18px;
    display: block;
    margin-left: 0;
    margin-bottom: 0; }
  .subst-where-btn a {
    padding: 15px 5px;
    font-size: 11px; }
  .services_more_review {
    display: block; }
  .contacts-choose-city {
    width: 75%;
    margin: auto;
    margin-bottom: 25px; }
  .glass-word {
    margin-right: 65%; }
  .attend-text-left h4, .attend-text-right h4 {
    padding: 5px;
    font-size: 16px; }
  .attend-text-left p, .attend-text-right p {
    padding: 5px;
    font-size: 10px; }
  .count-coment:after {
    display: none; }
  .block-in-text {
    width: 100%; }
  .blog-text-follow-link {
    display: block;
    margin-top: 25px;
    width: 100%;
    margin-left: 0;
    text-align: center; }
  .blog-text-input-fix {
    width: 100%; }
  .follow-icon-mail {
    top: 126px;
    /**/ } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .benefits__items {
    width: 100%; }
  .addformlink {
    margin-left: 120px !important;
    display: block;
    margin-top: -30px;
    width: 120px; }
  .m-page-repair {
    height: 600px; }
  .slider-tittle {
    font-size: 34px !important; }
  .text-after-slider {
    margin-bottom: 35px; }
  .slider-li {
    margin-right: 2%; }
  .text-after-slider {
    font-size: 18px; }
  .find_closest_map_block {
    display: block; }
  .subs-block-item-right {
    margin-bottom: 65px; }
  .contacts-choose-city {
    width: 50%; }
  .contact-form-container {
    padding: 40px 3%; }
  .label-agree-with {
    margin-left: 0;
    line-height: 1.4; }
  .contact-fix a {
    width: 250px; }
  .attend-hidden-phone {
    width: 0%; }
  .blog-post-name a {
    font-size: 24px; }
  .headline.v3_mod {
    font-size: 28px; }
  .m-page-repair__content p {
    margin-bottom: 15px; }
  .m-page-change__content p {
    margin-bottom: 15px; }
  .benefits__items {
    min-height: 300px; }
  .rdy-help {
    height: 350px; }
  .blog-papgination-ul li {
    margin-right: 15px; }
  .ekb-choose-region-ul {
    padding-right: 0; }
  .subst-replace p {
    padding-left: 0; }
  .subst-replace p span {
    left: -30px; }
  .services_h3_text {
    padding: 0 10px;
    font-size: 11px; }
  .other-services-bg1 {
    padding: 25px 40px;
    height: auto; }
  .other-services-bg2 {
    padding: 25px 40px;
    height: auto; }
  .other-services-bg3 {
    padding: 25px 40px;
    height: auto; }
  .subst-feedbacl-block {
    height: auto; }
  .how-to-change {
    height: auto; }
  .how-to-change h2 {
    font-size: 25px; }
  .subst-where-change h2 {
    font-size: 21px; }
  .subst-section-1-text {
    font-size: 28px; }
  .blog-text-popular-container-2 {
    margin-left: 0;
    /**/ } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .follow-icon-mail {
    top: 176px; }
  .contacts-choose-city {
    width: 75%; }
  .solo-btn a {
    padding: 25px 10px; }
  .btn-group {
    width: 100%;
    display: block; }
  .cat-window {
    width: 290px; }
  .services_h3_text {
    margin-bottom: 0; }
  .bx-wrapper .bx-controls-direction a {
    top: -6%; }
  .container_services_more_review {
    margin-top: 14px; }
  .services__where-we-are-1 {
    padding-left: 0; }
  .services__where-we-are-2 {
    padding-left: 0;
    height: auto; }
  .subs-block-number {
    font-size: 40px;
    line-height: 1.8;
    /**/ } }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
